management.endpoints.web.exposure.include: health
management.endpoint.health.probes.enabled: true
server:
  port: 8081
  servlet:
    contextPath: /security-sys
  lifecycle:
    timeout-per-shutdown-phase: "60s"
  tomcat:
    threads.max: 500

spring:
  application:
    name: spring-security-oauth-hands-on
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}